<div class="panel panel-default admin-panel">
  <div class="panel-heading">
    <h1>イメージ追加</h1>
  </div>
  <%= bootstrap_form_tag do |f| %>
    <div class="panel-body">
      <%= f.file_field :image %>
      <%= f.text_field :title %>
      <%= f.text_field :comment %>
      <%= f.select :app_flag, [["表示", 1], ["非表示", 0]] %>
    </div>
    <div class="panel-footer">
      <a href="#" class="btn btn-default" role="button">戻る</a>
      <%= f.submit '変更', :class=>"btn btn-primary form-submit-btn" %>
    </div>
  <% end %>
</div>