<%= bootstrap_form_for(@user) do |f| %>
  <div class="panel-body">
    <%= f.text_field :email %>
    <%= f.text_field :title %>
    <%= f.text_area :comment %>
    <%= f.password_field :password %>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="panel-footer">
    <%= f.submit '変更', :class=>"btn btn-primary form-submit-btn" %>
  </div>
<% end %>