<header>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <h1><a class="navbar-brand" href="#">yawainu</a></h1>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#profile">profile</a></li>
          <li><a href="#gallery">garelly</a></li>
          <li><a href="#works">works</a></li>
          <li><a href="#contact">contact</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<!-- cover -->
<%  if @display.cover %>
  <%= render 'cover' %>
<% end %>

<section class="main-wrap">

  <section id="profile" class="container-fluid profile">
    <div class="row">
      <div class="col-sm-offset-2 col-sm-2">
        <img src="<%= asset_path "sample_icon.png" %>" class="img-responsive img-circle profile__icon">
      </div>
      <div class="col-sm-6">
        <div class="profile__text">
          <%= @user.comment %>
        </div>
      </div>
    </div>
  </section>

  <!-- gallery -->
  <%  if @display.gallery %>
    <%= render 'gallery' %>
  <% end %>

  <!-- work -->
  <%  if @display.work %>
    <%= render 'work' %>
  <% end %>

</section>

<footer>
  <!-- contact -->
  <%  if @display.contact %>
    <%= render 'contact' %>
  <% end %>

  <section class="copyright text-center">
    <small>Copyright (C) 2016 yawainu.com All Rights Reserved.</small>
  </section>
</footer>